/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
    height: 90vh;
    /* 70% of the viewport height */
    background: rgba(10, 20, 26, 0.6);
        /* semi-transparent background */
        backdrop-filter: blur(10px);
        /* ✅ adds the blur effect */
        -webkit-backdrop-filter: blur(10px);
        /* ✅ Safari support */
    /* Blue background */
    padding: 0px 40px;
    /* Increased padding for more space */
    border-radius: 15px;
    color: black;
    /* White text */
    width: 80%;
    /* Increased width to make it larger */
    overflow-y: auto;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    animation: slideDown 0.3s ease-in-out;

}


.modal-content .close-div {

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-top: 30px;
    

}

.modal-content .close-div .close-modal {
    cursor: pointer;
    margin-right: 5px;
}

.title-modal {
    display: flex;
    font-family: sans-serif;
    color: #DCDCDC;
    font-size: clamp(35px, 5vw, 50px);
    gap: 20px;
    font-weight: 700;
}



@media (max-width: 600px) {


  
    
    .modal-content {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        padding: 20px;

    }

    .title-modal {
        display: flex;
        font-family: sans-serif;
        color: #DCDCDC;
        font-size: clamp(50px, 5vw, 50px);
        font-weight: 700;
        align-items: center;
        gap: 1px;
        width: 100%;
      
      
    }

    .logo{
        width: 90px;
        height: auto;  
    }

    .title{
        font-size: 34px;
        width: 210px;
    }

    
}