

.Clear-Btn{
    display: flex;
    width: 100px;
}

.Plot-Btn{
    display: flex;
    width: 100px;
}



.filter-group{
    display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        gap: 5px;
        font-weight: 500;
    
}




.line {
    display: flex;
    width: 100%;
    height: 5px;
    background: #0f1d26;
        box-shadow:
            inset 0 3px 6px rgba(0, 0, 0, 0.5),
            0 2px 0 #313c43;
    margin: 20px 0px;
}

/* Increase spacing between input fields inside filters */


/* Increase spacing between the search bar text and input field */


/* Adjust margin of search input */


/* Search Results */
#searchResults {
    margin-top: 15px;
    min-height: 370px;
    max-height: 370px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.2);
        /* translucent white */
        backdrop-filter: blur(10px);
        /* ✅ blur effect */
        -webkit-backdrop-filter: blur(10px);
        /* ✅ Safari support */
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        /* subtle glass edge */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    
}


@media (max-width: 600px) {

#searchResults {
        min-height: 460px;
        max-height: 460px;
    }

#searchResultsWrapper {
    padding-top: 110px;
}
}