.search-input {
    display: flex;
    width: 100%;
    align-items: center;
    justify-items: center;
    overflow: visible;
    width: auto;
    background: rgba(10, 20, 26, 0.6);
        box-shadow:
                inset 4px 4px 2px rgba(0, 0, 0, 0.8),
                /* darker inner shadow */
                0 2px 0 #313c43;
            /* subtle highlight */
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 32px;

}

.search-input .search {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    color: #ffffff;

}